{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Hello Django on Render!</title>

        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
    </head>
    <body>
        <header class="container mt-4 mb-4">    <a href="https://render.com">        <img src="{% static "msx_files/render.png" %}" alt="Render" class="mw-100">    </a></header>
        <main class="container">
            <div class="row text-center justify-content-center">
                <div class="col">
                    <h1 class="display-4">Hello World!</h1>
                </div>
            </div>
        </main>
    </body>
</html>
